@CHARSET "UTF-8";

body {
	background-color: #33ff33;
	padding-top: 40px;
}

.form-signin {
	max-width: 280px;
	padding: 15px;
	margin: 450px;
	margin-top: 20px;
}

.panel-default {
	opacity: 0.8;
	/*margin-top:30px;*/
}

.input-group-addon {
	background-color: rgb(50, 118, 177);
	border-color: rgb(40, 94, 142);
	color: rgb(255, 255, 255);
}

#pole {
	width: 100%;
	background-color: "white";
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#btnSub {
	width: 115%;
	background-color: #000000;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}